<p>
  <b>User:</b>
  <%=h @entry.user %>
</p>

<p>
  <b>Project:</b>
  <%=h @entry.project %>
</p>

<p>
  <b>Date:</b>
  <%=h @entry.date %>
</p>

<p>
  <b>Hours:</b>
  <%=h @entry.hours %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>