%h1= I18n.t :contracts
- for contract in @contracts
  %p
    = I18n.t :name
    %br
    =h contract.name
    %br
    = link_to I18n.t(:edit), edit_contract_path(contract)
    = link_to I18n.t(:destroy), contract, :confirm => 'Are you sure?', :method => :delete
%p= link_to I18n.t(:contract_new), new_contract_path
