%h1= t :contract
%label= t :name
= h @contract.name

%p
  %h2= t :projects
  %table
    %tr
      %th Name
      %th
    - @contract.projects.each do |project|
      %tr
        %td= h project.name
        %td= link_to 'Show', contract_project_path(@contract, project)

%p
  = link_to t(:show), @contract
  = link_to t(:edit), edit_contract_path(@contract)
  = link_to t(:back), contracts_path
