%h1= I18n.t :contract
= I18n.t :name
%br=h @contract.name
%br= I18n.t :description
%br=h @contract.description
%p
  = link_to I18n.t(:show), @contract
  = link_to I18n.t(:edit), edit_contract_path(@contract)
  = link_to I18n.t(:back), contracts_path