<p>
  <b>Name:</b>
  <%=h @contract.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @contract.description %>
</p>

<p>
  <b>Start date:</b>
  <%=h @contract.start_date %>
</p>

<p>
  <b>Finish date:</b>
  <%=h @contract.finish_date %>
</p>


<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>