- semantic_form_for [project.contract, project] do |f|
  = f.error_messages
  = f.input :name
  = f.input :description
  = f.input :start_date, :as => :date
  = f.input :finish_date, :as => :date
  = f.input :contract, :as => :select
  = f.commit_button
