%h1= t :project
%p
  %label= t :name
  = h @project.name
%p
  %label= t :contract
  = h @project.contract.name
%p
  %label= t :description
  =h @project.description
%p
  %label= t :description
  =h @project.description
%p
  %label= t :start_date
  = localized_date @project.start_date
%p
  %label= t :finish_date
  = localized_date @project.finish_date

%p
  = link_to I18n.t(:edit), edit_contract_project_path(@project.contract, @project)
  |
  = link_to I18n.t(:back), contract_projects_path(@project.contract)
