- for contract in @contracts
  = contract.name
  = link_to 'edit', edit_contract_path(contract)
  %br
  
= link_to 'Custo por contrato', cost_by_contract_path
= link_to 'Custo por projecto', cost_by_project_path
= link_to 'Custo por user', cost_by_user_path