%h2 Horas trabalhadas por contrato
%form{:action => cost_by_contract_path}
  %p
    %select{:name => 'id'}
      %option{:value => ""}= "Contratos"
      - for contract in @contracts
        %option{:value => contract.id}= contract.name
    %input{:type => 'text', :name => 'from', :title => "Data inicial", :value => "Data inicial", :class => "placeHolder datepicker"}
    %input{:type => 'text', :name => 'to', :title => "Data final", :value => "Data final", :class => "placeHolder datepicker"}
    %input{:type => 'submit', :value => '>'}
%h2 Horas trabalhadas por projeto
%form{:action => cost_by_project_path}
  %p
    %select{:name => 'id'}
      %option{:value => ""}= "Projetos"
      - for project in projects_from(@contracts)
        %option{:value => project.id}= project.name
    %input{:type => 'text', :name => 'from', :title => "Data inicial", :value => "Data inicial", :class => "placeHolder datepicker"}
    %input{:type => 'text', :name => 'to', :title => "Data final", :value => "Data final", :class => "placeHolder datepicker"}
    %input{:type => 'submit', :value => '>'}
%h2 Horas trabalhadas por pessoa
%form{:action => cost_by_user_path}
  %p
    %select{:name => 'id'}
      %option{:value => ""}= "Pessoas"
      - for user in workers(@users)
        %option{:value => user.id}= user.name
    %input{:type => 'text', :name => 'from', :title => "Data inicial", :value => "Data inicial", :class => "placeHolder datepicker"}
    %input{:type => 'text', :name => 'to', :title => "Data final", :value => "Data final", :class => "placeHolder datepicker"}
    %input{:type => 'submit', :value => '>'}
%h2 Contratos
- for contract in @contracts
  %ul
    %li
      %span{:class => 'ui-state-default ui-corner-all ui-icon ui-icon-pencil'}
      = link_to contract.name, edit_contract_path(contract)
%ul
  %li
    %span{:class => 'ui-state-default ui-corner-all ui-icon ui-icon-plusthick'}
    = link_to I18n.t(:contract_new), new_contract_path
