= render :partial => 'header', :locals => {:date => @reference_date}
- hours_per_day = Array.new(7,0)
%table
  = render :partial => 'table_header', :locals => {:title => 'Project'}
  - for project in @projects
    - row_total = 0
    %tr{:class => cycle('pair', 'odd')}
      %td.name
        =h project.name
      - project.entries.for_week_and_user(@reference_date, current_user).each_with_index do |entry, week_day|
        %td
          = text_field_tag "entry_#{entry.id}", entry.hours
          = observe_field "entry_#{entry.id}", :url => entry_path(entry), :frequency => 0.25, :method => 'put', :with => "'hours=' + value"

          - hours_per_day[week_day] += entry.hours
          - row_total += entry.hours
      %td= row_total
  = render :partial => 'table_footer', :locals => {:hours => hours_per_day}