= render :partial => 'header', :locals => {:date => @reference_date}
- for project in @projects
  .project
    %h2
      = project.name
    - render :layout => 'table', :locals => {:title => 'User'} do |hours_per_day|
      - for user in project.users
        - row_total = 0
        %tr{:class => cycle('pair', 'odd')}
          %td.name
            =h user.name
          - user.entries.for_week_and_project(@reference_date, project).each_with_index do |entry, week_day|
            %td{:id => entry.id}
              = entry.hours
              = link_to_remote '<span class="ui-icon ui-icon-check">aprovar</span>', :url  => entry_path(entry), :method => :put, :with => "'status=1'", :success => "approve(#{entry.id})"
              = link_to_remote '<span class="ui-icon ui-icon-closethick">reprovar</span>', :url  => entry_path(entry), :method => :put, :with => "'status=0'", :success => "disapprove(#{entry.id})"
              - hours_per_day[week_day] += entry.hours
              - row_total += entry.hours
          %td= row_total
