!!! XML
!!!
%html
  %head
    %title ice project
    = javascript_include_tag :all
    = stylesheet_link_tag 'screen.css'
    = stylesheet_link_tag 'jquery-ui-1.7.2.custom.css'
  %body
    %div#headerBg
      %div#header
        %h1
          %a{:href => root_path}
            ice project
        - if current_user
          %ul
            %li
              = current_user.name
            %li
              %a{:href => logout_path}
                %span{:class => 'ui-state-default ui-corner-all ui-icon ui-icon-closethick'}
                  Sair
                Sair
    %div#container
      = yield
